

<!--<h1></h1>-->

<!--<p>you should know...</p>-->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Noto+Serif|Titillium+Web|Yanone+Kaffeesatz" rel="stylesheet">


<body>

<style>
    h1, p {
        font-family: "Amatic SC", cursive;
        font-size: 60px;
        color: #730E15;
        max-height: 100%;
        height: auto;
        text-align: center;
        horiz-align: center;
    }
/*<div>*/

/*body{*/

        /*padding: 15%*/
        /*-webkit-border-image: url('home.png');*/
        /*-o-border-image: url('home.png');*/
        /*border-image: url('home.png');*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
        /*background-size: contain;*/
        /*width: auto;*/
        /*height: auto;*/
/*}*/
</style>
<div class="container">
<h1>Hello World!</h1>

<p>This page has an image as the background!</p>

</div>
</body>
</html>
