header {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  background-color: #f2f5f8;
  align-content: space-between;

}

//body {
//  font-family: 'Amatic SC', cursive;
//  font-size: 40px;
//  background-color: #730E15;
//  font-weight: 300;
//}
div {
  font-family: "Amatic SC", cursive;
  font-size: inherit;
//  background-color: #999999;
}
a {
  text-decoration: none;
}

.app-cont {
  max-width: 1080px;
  margin: 0 auto;
}

.app-cont-thin {
  max-width: 650px;
  background: #fff;
  padding: 1em 0;
  border-radius: 3px;
}

.app-logo {
  a {
    font-family: 'Amatic SC', Amatic, sans-serif;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.71);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgba(218, 62, 62, 0.32);

    b {
      color: rgba(255, 153, 153, 0.83);
    }
  }
.cart {
  color: #730E15;
  text-align: right;
  font-size: 50px;

}
}

//font-family: 'Amatic SC', cursive;
//font-family: 'Inconsolata', monospace;
//font-family: 'Noto Serif', serif;
//font-family: 'Titillium Web', sans-serif;
//font-family: 'Yanone Kaffeesatz', sans-serif;