<% cache do %>
    <header class="app-header">
      <!--<div class="img"></div>-->
      <div class="app-cont">
        <!--<h1 class="app-logo">-->
          <!--<%= link_to :root do %>-->
              <!--YSK [Exclusive]-->
          <!--<% end %>-->
        </h1>
      </div>
    </header>
<% end %>